<?xml version="1.0" encoding="utf-8" ?>
<!--
* App.config
* Copyright(c) 2020. Daniel Patterson, MCSD (danielanywhere)
* This file is licensed under GNU General Public License version 3.
* https://opensource.org/licenses/gpl-3.0.html
* Please see the LICENSE file in this project.
-->
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>
